{% extends 'layout2.html' %}
{% load static %}
{% block body %}

<div class="jumbotron-billboard">
<section class="headline3">
    <img src={% static 'about.png' alt='Loogo' %} alt="headlineimg">
  </section>
  <div class="container">
    
    <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;2007 yılında kurulan AKAR BÜRO MAKİNALARI ofis ekipmanları fotokopi, fax, baskı ve printer cihazlarının satış ve teknik servis hizmetlerini vermekte olup, teknoloji dünyasındaki gelişmeleri yakından izleyerek, sahip olduğu deneyim ve bilgiyi,   üstün kalite anlayışını önde tutarak; çözüm odaklı, fark yaratan  hizmetlerle ve   minimum maliyetlerle siz değerli müşterilerimize sunmaktadır.</p>
    <p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;Sitemizi ziyaret ettiğiniz için teşekkür eder, uzun yıllar işbirliğimizin devamını dileriz.</p>
  </div>
</div>
{% endblock body %}

