{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper2">
  
    <section class="features2">
        
        <div class="feature-container">
        <h2>İletişim</h2>
        <hr>
    <p class="lead">İletişim bilgileri...</p>
    <br><br><br><br><br>

    <div class="mapp">
      <iframe  width="1400" height="200" src="https://maps.google.com/maps?width=1500&amp;height=200&amp;hl=en&amp;q=Akar%20B%C3%BCro%20Makinalar%C4%B1+(Akar%20B%C3%BCro%20Makinalar%C4%B1)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      </iframe>      
    </div>
      <br /> 
    
  </div>
  </section>
</div>


{% endblock body %}