{% extends 'layout.html' %}
{% load static %}


{% block body %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<div class="page-wrapper">
    <section class="dashboard">
        <div class="dashboard-container">
            <h2>Kontrol Paneli , {{request.user}}</h2>
        </div>
    </section>
    <section class="dashboard">
        <div class="dashboard-buts">
            <div class="multi-button">
                <a href="/dboard/pd"><button class="first-btn">Fiyat Teklifi Talepleri</button></a>
                <a href="/dboard/services"><button>Teknik Servis Talepleri</button></a>
                <a href="/user/account"><button class="last-btn">Kullanıcı Ayarları</button></a>
            </div>
        </div>
    </section>
</div>
<br><br><br>
<div class="table-grid">

        
        
<table class="sortable">
  <caption>Fiyat Teklifi Talepleri</caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">İsim</th>
      <th scope="col">Firma</th>
      <th scope="col">Temsilci</th>
      <th scope="col">Tarih</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for demand in pdemands  %}
     <tr>
      <td data-label="id">{{demand.id}}</td>
      <td data-label="İsim">{{demand.name}}</td>
      <td data-label="Firma">{{demand.company_name}}</td>
      <td data-label="Temsilci">{{demand.agent.username}}</td>
      <td data-label="Tarih">{{demand.created_date}}</td>
      <td><div class="multi-button"><a href="/dboard/pd/{{demand.id}}"><button class="view">Görüntüle</button></a></div></td>
    </tr>
    {% endfor %}
     
  </tbody>
</table>


</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock body %}